/* body 요소에 대해 */
body {
  /* 스크롤바의 너비 설정 (Firefox) */
  scrollbar-width: thin;
  /* 스크롤바의 스타일 설정 (Chrome, Safari, Edge) */
  scrollbar-color: rgba(0, 0, 0, 0) transparent; /* 투명한 스크롤바 */
  /* 스크롤 설정 */
  overflow-y: scroll;
  /* margin과 padding 설정 */
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge에서 스크롤바 스타일 설정 */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* 투명한 스크롤바 */
}
